<div class="header">
    <ul class="nav">
        <li>
            <a href="/">home</a>
        </li>
        <li>
            <a href="/snippets/">all snippets</a>
        </li>
        <li>
            <a href="/snippets/create">new snippet</a>
        </li>
    </ul>
</div>