<h1>login</h1>

<form method="post" action="/user/login" class="snippet">
    <label for="email">Email/Username:</label>
    <input type="text" name="email" placeholder="you@email.com" required></input>
    <label for="password">password:</label>
    <input name="password" placeholder="min 8 characters" required></input>
    <button type="submit">Submit</button>
</form>
<a class="btn" href="/">CANCEL</a>