<h1>create snippet</h1>

<form method="post" action="/snippets/create" class="snippet">
    <input type="text" name="title" placeholder="Snippet title"></input>
    <textarea name="code" placeholder="Snippet code"></textarea>
    <button type="submit">Submit</button>
</form>